:root {

--clr-primary-500: hsl(277, 64%, 61%); /* accent */
--clr-primary-700: hsl(244, 38%, 16%); /* card background */
--clr-primary-900: hsl(233, 47%, 7%); /* main background */

--clr-neutral-100: hsl(0, 0%, 100%); /* main heading & stats */
--clr-neutral-200: hsla(0, 0%, 100%, 0.75); /* main paragraphs */
--clr-neutral-300: hsla(0, 0%, 100%, 0.6); /* stat headings */

--fs-base: .9375rem;

--fw-base: 400;
--fw-bold: 700;

--ff-main: 'Inter', sans-serif;
--ff-accent: 'Lexend Deca', sans-serif;
}

/* CSS BASIC RESET -- https://piccalil.li/blog/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* GLOBAL STYLES */

body {
    display: grid;
    align-items: center;
    font-family: var(--ff-main);
    min-height: 100vh;
    color: var(--clr-neutral-200);
    background-color: var(--clr-primary-900);
    
}

ul {
    list-style-type: none;
}

/* LAYOUT STYLES */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-700);
    text-align: center;
    border-radius: .625rem;
    outline: 2px solid #fff;
    
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: 2px solid red;
}

.card ul {
    display: flex;
    flex-direction: column;
    
}

/* UTILITY STYLES */



.sr__only {  /* for accessibility */
    position: absolute;
    width: 0.063rem;
    height: 0.063rem;
    padding: 0;
    margin: -0.063rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }


/* FEM ATTRIB */

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
 .attribution a { 
    color: hsl(228, 45%, 44%); 
}

