:root {

--clr-primary-500: hsl(277, 64%, 61%); /* accent */
--clr-primary-700: hsl(244, 38%, 16%); /* card background */
--clr-primary-900: hsl(233, 47%, 7%); /* main background */

--clr-neutral-100: hsl(0, 0%, 100%); /* main heading & stats */
--clr-neutral-200: hsla(0, 0%, 100%, 0.75); /* main paragraphs */
--clr-neutral-300: hsla(0, 0%, 100%, 0.6); /* stat headings */

--fs-base: .9375rem;

--fw-base: 400;
--fw-bold: 700;

--ff-main: 'Inter', sans-serif;
--ff-accent: 'Lexend Deca', sans-serif;
}

/* CSS BASIC RESET -- https://piccalil.li/blog/a-modern-css-reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  list-style-type: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* GLOBAL STYLES */

body {
  background-color: var(--clr-primary-900);
  font-family: var(--ff-main);
  font-weight: var(--fw-base);
  color: var(--clr-neutral-100);
}
    
h2 {
  font-size: 1.8125rem;
  line-height: 1.1;
  padding: 2rem;
}

h2,
p {
  text-align: center;
}

.card__text {
  font-weight: var(--fw-base);
  color: var(--clr-neutral-200);
  padding: .5rem 2rem 2rem 2rem;
}


    




/* LAYOUT STYLES */

.container {
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-100);
  margin: 3.125rem 1.25rem;
  padding: 0 0 1.25rem;
  border-radius: .625rem;
  text-align: center;

}



    








/* UTILITY STYLES */

.sr__only {  /* for accessibility */
    position: absolute;
    width: 0.063rem;
    height: 0.063rem;
    padding: 0;
    margin: -0.063rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.card__image {
  background: url(/images/image-header-mobile.jpg), var(--clr-primary-500);
  background-blend-mode: multiply;
  background-size: cover;
  height: 14.5rem;
  border-radius: .625rem .625rem 0 0;

}

.text__accent {
  color: var(--clr-primary-500);
}

.main__text {
  padding: .5rem 2rem 2rem 2rem;
}

.stats__number {
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
}

.stats__text {
  font-family: var(--ff-accent);
  font-size: .75rem;
  color: var(--clr-neutral-300);
  text-transform: uppercase;
  padding-bottom: 1rem;
  letter-spacing: .0625rem;
}



/* FEM ATTRIB */

.attribution { 
    padding-top: 1rem;
    font-size: .625rem;
    text-align: center; 
}
 .attribution a { 
    color: hsl(228, 45%, 44%); 
}

